#chat-log {
    .chat-message {
        background: $chat-msg-background;
        border: $chat-msg-border;
        color: $chat-msg-color;
        margin-bottom: 0.5rem;
        padding: 0rem;

        .message-header {
            padding: 0.25rem 0.5rem;
            background: $chat-msg-header-background;
            color: $chat-msg-header-color;
            font-family: $text-secondary-font;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .message-content {
            @import '../ui/text';
            @import '../ui/inputs';

            padding: 1rem 0.5rem;
            font-family: $ui-font;

            .dice-roll {
                .dice-result {
                    .dice-formula {
                        font-family: $number-font;
                        font-weight: normal;
                        color: $mutted-color;
                        border: none;
                        border-radius: 0px;
                        border-left: 3px solid $mutted-color;
                        box-shadow: none;
                    }

                    .dice-total {
                        font-family: $number-font;
                        font-weight: $number-weight;
                        border: 1px solid $faded-color;
                        border-radius: 5px;
                    }
                }
            }
        }

        hr {
            border: none;
            border-bottom: 1px solid $faded-color;
        }
    }
}

#chat-controls {
    @import '../ui/inputs';

    // .roll-type-select {
    //     background: $background-color; // Force
    // }
}

#chat-form {
    @import '../ui/inputs';
}
