#chat-log {
    .chat-message {
        background: $background-color;
        border: 1px solid $faded-color;
        border-radius: 3px;
        color: $ui-main-color;
        margin: 1rem 0 1rem 0;

        .message-header {
            border-bottom: 1px solid $faded-color;
            color: $mutted-color;
            font-family: $text-secondary-font;
        }

        .message-content {
            @import '../ui/text';
            font-family: $ui-font;

            .dice-roll {
                .dice-result {
                    .dice-formula {
                        font-family: $text-secondary-font;
                        font-style: italic;
                        color: $mutted-color;
                        border: 1px solid $faded-color;
                    }

                    .dice-total {
                        font-family: $ui-font;
                        color: $highlight-color;
                        border: 1px solid $faded-color;
                    }
                }
            }
        }

        hr {
            border: none;
            border-bottom: 1px solid $faded-color;
        }
    }
}

#chat-controls {
    @import '../ui/inputs';

    // .roll-type-select {
    //     background: $background-color; // Force
    // }
}

#chat-form {
    @import '../ui/inputs';
}
