.paths {
    .path {
        background: $faded-color;
        color: $ui-main-color;
        border: none;

        .link,
        .remove {
            color: $mutted-color;

            ::before {
                color: $ui-main-color !important;
            }
        }
    }
}
