@import '../variables';
@import './window';

body {
    background: #000;
    font-family: $ui-font;
}

.window-app:not(.actor) {
    @import './inputs';
}

#interface {
    @import './interface';
    @import './inputs';
}

.dialog {
    @import './dialog';
}

.filepicker {
    @import './filepicker';
}

#module-management {
    @import './module-management';
}

// Scroll Bars
::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border: 1px solid $scrollbar-border-color;
}

::-webkit-scrollbar-track {
    background: none;
    border: none;
    box-shadow: none;
}
