@import '../variables';
@import './inputs';
@import './window';

body {
    background: #000;
}

.dialog {
    @import './dialog';
}

.filepicker {
    @import './filepicker';
}

#module-management {
    @import './module-management';
}

// Scroll Bars
::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border: 1px solid $scrollbar-border-color;
}

::-webkit-scrollbar-track {
    background: none;
    border: none;
    box-shadow: none;
}
