button {
    background: $button-background-color;
    color: $button-text-color;
    font-family: $button-text-font;
    font-size: 0.75rem;
    border: 1px solid $faded-color;
    border-radius: $button-border-radius;

    .tox-icon {
        svg {
            fill: $button-text-color;
        }
    }
}

button:hover {
    background: $accent-color;
    color: $highlight-color;
    box-shadow: none;
    text-shadow: none;

    .tox-icon {
        svg {
            fill: $highlight-color;
        }
    }

    ul {
        background: $button-background-color;
        font-family: $button-text-font;
        color: $button-text-color;
        border: none;

        li:hover {
            background-color: $accent-color;
            color: $highlight-color;
        }
    }
}

label {
    font-family: $input-label-font;
    font-weight: bold;
    font-size: 0.8rem;
    color: $input-label-color;
}

select {
    background: $faded-color;
    color: $ui-main-color;
    border: 1px solid $faded-color;
}

input,
input[type='text'],
textarea {
    font-family: $input-text-font;
    font-weight: normal;
    background: $input-background-color !important;
    color: $input-text-color !important;
    border: $main-border !important;
    border-radius: $main-border-radius !important;

    &:hover {
        border: $accent-border !important;
    }

    &:focus,
    &:active {
        border: $active-border !important;
        box-shadow: none;
    }

    &:disabled {
        background: $faded-color !important;
        color: $mutted-color !important;
    }
}

input[type='number'] {
    font-family: $number-font;
    font-weight: $number-weight;
}

range-picker {
    border: none;
    background: none;
}

.rollable {
    &:hover {
        color: $accent-color;
        box-shadow: none;
        text-shadow: none;
    }
}

@import './table';
