button {
    background: $button-background-color;
    color: $button-text-color;
    font-family: $button-text-font;
    border: 1px solid $faded-color;
    border-radius: 3px;
}

button:hover {
    background: $accent-color;
    color: $highlight-color;
    box-shadow: none;

    ul {
        background: $button-background-color;
        font-family: $button-text-font;
        color: $button-text-color;
        border: none;

        li:hover {
            background-color: $accent-color;
            color: $highlight-color;
        }
    }
}

label {
    font-family: $ui-font;
    font-weight: bold;
    font-size: 0.8rem;
    color: $mutted-color;
}

select {
    color: $text-main-color;
    border: 1px solid $faded-color;
}

input,
input[type='text'] {
    background: $background-color;
    color: $text-main-color;
    border: 1px solid $faded-color;

    &:focus {
        border: 1px solid $accent-color;
        box-shadow: none;
    }
}

form {
}
