button {
    background: $button-background-color;
    color: $button-text-color;
    font-family: $button-text-font;
    font-size: 0.75rem;
    border: 1px solid $faded-color;
    border-radius: 3px;
}

button:hover {
    background: $accent-color;
    color: $highlight-color;
    box-shadow: none;

    ul {
        background: $button-background-color;
        font-family: $button-text-font;
        color: $button-text-color;
        border: none;

        li:hover {
            background-color: $accent-color;
            color: $highlight-color;
        }
    }
}

label {
    font-family: $ui-font;
    font-weight: bold;
    font-size: 0.8rem;
    color: $text-main-color;
}

select {
    background: $background-color;
    color: $text-main-color;
    border: 1px solid $faded-color;
}

input,
input[type='text'] {
    background: $background-color;
    color: $text-main-color;
    border: 1px solid $faded-color;

    &:focus,
    &:active {
        border: 1px solid $accent-color;
        box-shadow: none;
    }

    &:disabled {
        background: $faded-color;
        color: $mutted-color;
    }
}

input[type='range'] {
    border: none;
    background: none;
}

textarea {
    background: $background-color;
    border: 1px solid $faded-color;
    border-radius: 3px;
    color: $text-main-color;

    &:focus {
        box-shadow: none;
        border: 1px solid $accent-color;
    }
}
