#ui-left {
    #logo {
        display: none;
    }

    nav#controls {
        margin-top: 2rem;
        .scene-control,
        .control-tool {
            background: $button-background-color;
            border: 1px solid $faded-color;
            color: $mutted-color;
            border-radius: 3px;

            &.active {
                border: 1px solid $accent-color;
                box-shadow: none;
                color: $highlight-color;
            }

            &:hover {
                background: $accent-color;
                border: 1px solid $accent-color;
                box-shadow: none;
                color: $highlight-color;
            }
        }
    }

    #players {
        background: $background-color;
        border: 1px solid $faded-color;
        color: $mutted-color;
        font-family: $ui-font;
    }
}

#ui-right {
    #sidebar {
        background: $background-color;
        border: 1px solid $faded-color;
        color: $mutted-color;
        font-family: $ui-font;

        nav#sidebar-tabs {
            border-bottom: 1px solid $faded-color;
            box-shadow: none;

            .item {
                border: none;
                color: $mutted-color;
                border-radius: 3px;

                &:hover {
                    color: $accent-color;
                    text-shadow: none;
                }

                &.active {
                    box-shadow: none;
                    text-shadow: none;
                    color: $highlight-color;
                }
            }
        }

        .tab#chat {
            @import './chat';
        }

        .tab#combat {
            @import './combat';
        }
    }
}

#ui-middle {
    #ui-top {
        nav#navigation {
            #scene-list {
                .scene {
                    background: $background-color;
                    color: $mutted-color;
                    border: 1px solid $faded-color;
                    box-shadow: none;

                    &:hover {
                        background: $accent-color;
                        color: $highlight-color;
                        border: 1px solid $accent-color;
                    }

                    &.active {
                        color: $highlight-color;
                        border: 1px solid $accent-color;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
