ol {
    &.items-list {
        background: none;
        border: $table-border;
        border-radius: $main-border-radius;
        padding: 0rem;
        margin: 0rem;

        li {
            &.item {
                padding: 0rem;
                margin: 0rem;
                height: auto;

                &.item-header {
                    background: $table-header-background;
                    font-family: $table-header-font;
                    color: $table-header-color;
                    border: $table-border;
                    border-radius: 0px;
                    padding: 0rem;
                    margin: 0rem;
                    height: 28px;
                    text-transform: uppercase;

                    div {
                        text-align: center;
                        font-family: $table-header-font;
                        font-weight: bold;
                        font-size: 0.8rem;
                        color: $table-header-color;

                        &:first-child,
                        &:nth-child(2) {
                            text-align: left;
                        }

                        &:last-child() {
                            text-align: right;
                        }
                    }

                    .skill-stat {
                        padding: 0rem;
                    }
                }

                &:not(.item-header) {
                    border: none;

                    &:nth-child(odd) {
                        background: $table-row-strip-color;
                    }

                    div,
                    .skill-stat a,
                    h4 {
                        text-align: center;
                        font-family: $ui-font;
                        font-weight: normal;
                        font-size: 0.8rem;
                        color: $input-text-color;
                        background: none;
                        padding: 0rem;
                        margin: 0rem;

                        &:first-child,
                        &:nth-child(2) {
                            text-align: left;
                        }

                        &.item-image {
                            flex: 27px 0;
                            height: 27px;
                        }

                        &:last-child() {
                            text-align: right;
                        }

                        &.list-roll {
                            &:hover {
                                text-shadow: none;
                                box-shadow: none;
                                color: $accent-color;
                            }
                        }
                    }
                }

                .skill-name,
                .skill-roll,
                .rollable {
                    &:hover {
                        color: $accent-color;
                        text-shadow: none;
                        box-shadow: none;
                    }
                }
            }
        }

        .item-controls {
            a {
                &:hover {
                    color: $accent-color;
                    text-shadow: none;
                    box-shadow: none;
                }
            }
        }
    }
}
