nav {
    background: none;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: start;

    .tab-select {
        flex: 0 0 auto;
        background: $muted-background;
        border: $main-border;
        border-bottom: none;
        border-radius: $main-border-radius;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: $mutted-color;
        font-family: $ui-font;
        font-weight: normal;
        font-size: 0.8rem;
        padding: 0.5rem 0.7rem;
        margin: 0rem 0.2rem;

        &.active {
            background: $main-background;
            color: $ui-main-color;
            text-decoration: none;
            box-shadow: none;
            text-shadow: none;
            position: relative;
            top: 1px;
        }

        &:hover {
            color: $accent-color;
            box-shadow: none;
            text-shadow: none;
        }
    }
}

.tab {
    padding: 0rem 0.2rem;
}
