nav {
    background: none;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: stretch;

    .tab-select {
        flex: 1 0 auto;
        background: $muted-background;
        border: $nav-border;
        border-radius: 0px;
        color: $terminal-color;
        font-family: $input-label-font;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 0.5rem 0.7rem;
        margin: 0rem;
        text-transform: uppercase;

        &.active {
            background: $terminal-color;
            color: $terminal-color-inverse;
            text-decoration: none;
            box-shadow: none;
            text-shadow: none;
        }

        &:hover {
            background-color: $highlight-color;
            box-shadow: none;
            text-shadow: none;
        }
    }
}

.tab {
    padding: 0rem;
}
