@import '../variables';

.journal-header {
    .title {
        font-family: $journal-title-font;
        font-weight: bold;
        color: $ui-main-color;
    }

    .page-level {
        .heading-level {
            select {
                color: $ui-main-color;
            }
        }
    }
}

.prosemirror {
    background: $journal-background;
    color: $journal-text-color;

    .editor-menu {
        @import '../ui/inputs';
    }

    .editor-container {
        .editor-content {
            @import '../ui/text';
        }
    }

    textarea {
        color: $journal-text-color;
    }
}
