p {
    font-family: $text-main-font;
    font-size: $text-main-size;
    line-height: $text-line-height;
}

h1 {
    font-family: $title-h1-font;
    font-size: $title-h1-size;
    font-weight: $title-h1-weight;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid #000;
}

h2 {
    font-family: $title-h2-font;
    font-size: $title-h2-size;
    font-weight: $title-h2-weight;
    border: none;
}

h3 {
    font-family: $title-h3-font;
    font-size: $title-h3-size;
    font-weight: $title-h3-weight;
    border: none;
}

h4 {
    font-family: $title-h4-font;
    font-size: $title-h4-size;
    font-weight: $title-h4-weight;
    border: none;
}

h5 {
    font-family: $title-h5-font;
    font-size: $title-h5-size;
    font-weight: $title-h5-weight;
    border: none;
}

blockquote {
    border: 2px solid #000;
    margin: 1rem 0.4rem 1rem 0rem;
    padding: 1rem;
    box-shadow: 8px 8px #cecece;

    p {
        font-family: $text-secondary-font;
    }
}

.content-link {
    background: none;
    font-weight: bold;
    border: none;
    text-decoration: underline;

    .fas {
    }
}

table {
    border: 2px solid #000;

    thead {
        background: $table-header-background;

        tr {
            td {
                p {
                    font-size: 1.1rem;
                    color: $table-header-color;
                    font-family: $table-header-font;
                }
            }
        }
    }

    tbody {
        background: #fff;

        tr {
            border-bottom: 1px solid #cecece;
        }
    }
}
