@import '../variables';

.window-app {
    border: $ui-window-border;

    .window-header {
        background: $ui-header-background-color;
    }

    .window-content {
        padding: 0.1rem 0.5rem;
    }
}

.window-app:not(.item):not(.actor) {
    font-family: $ui-font;
    color: $ui-main-color;

    &.journal-sheet {
        background: none;

        .window-content {
            aside.sidebar {
                background: $journal-sidebar-background;
            }
        }
    }

    .window-content {
        color: $ui-main-color;
        background: $ui-window-background;

        @import './inputs';
        @import './prosemirror';
        @import './tinymce';
        @import './table';

        nav.sheet-tabs {
            border: none;
            border-top: 1px solid $faded-color;
            border-bottom: 1px solid $faded-color;

            .item {
                color: $mutted-color;

                &:hover {
                    color: $accent-color;
                    text-shadow: none;
                }

                &.active {
                    color: $highlight-color;
                    text-shadow: none;
                    font-weight: bold;
                }
            }
        }

        .notes {
            font-family: $ui-font;
            color: $mutted-color;
            font-style: italic;
            font-weight: normal;
            font-size: 0.8rem;
        }

        hr {
            border: none;
            border-bottom: 1px solid $faded-color;
            margin: 1rem 0 0 1rem;
        }
    }
}
