@import '../variables';

.window-app:not(.actor):not(.item) {
    font-family: $ui-font;

    .window-content {
        color: $text-main-color;

        @import './inputs';
        @import './prosemirror';
        @import './tinymce';

        nav.sheet-tabs {
            border: none;
            border-top: 1px solid $faded-color;
            border-bottom: 1px solid $faded-color;

            .item {
                color: $mutted-color;

                &:hover {
                    color: $accent-color;
                    text-shadow: none;
                }

                &.active {
                    color: $highlight-color;
                    text-shadow: none;
                    font-weight: bold;
                }
            }
        }

        .notes {
            font-family: $ui-font;
            color: $mutted-color;
            font-style: italic;
            font-weight: normal;
            font-size: 0.8rem;
        }

        hr {
            border: none;
            border-bottom: 1px solid $faded-color;
            margin: 1rem 0 0 1rem;
        }
    }
}
