@import '../variables';

.window-app:not(.actor):not(.item) {
    background: none;
    border: 1px solid $faded-color;
    color: $text-main-color;
    font-family: $ui-font;

    .window-header {
        background: $background-color;
        border-bottom: 1px solid $faded-color;
    }

    .window-content {
        background: $transparent-background-color;
        backdrop-filter: $transparent-background-filter;
        -webkit-backdrop-filter: $transparent-background-filter;
        color: $text-main-color;

        @import './inputs';
        @import './prosemirror';

        nav.sheet-tabs {
            border: none;
            border-top: 1px solid $faded-color;
            border-bottom: 1px solid $faded-color;

            .item {
                color: $mutted-color;

                &:hover {
                    color: $accent-color;
                    text-shadow: none;
                }

                &.active {
                    color: $highlight-color;
                    text-shadow: none;
                    font-weight: bold;
                }
            }
        }

        .notes {
            font-family: $text-secondary-font;
            color: $mutted-color;
            font-style: italic;
            font-weight: normal;
            font-size: 0.8rem;
        }

        hr {
            border: none;
            border-bottom: 1px solid $faded-color;
            margin: 1rem 0 0 1rem;
        }
    }
}
