.system-mosh {
    // Chat cards
    #interface {
        #ui-right {
            #sidebar {
                .chat-sidebar {
                    #chat-log {
                        .chat-message {
                            .message-content {
                                .mosh {
                                    .rollcontainer {
                                        background: none;
                                        font-family: $ui-font;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Sheets
.sheet {
    // Actor
    &.actor {
        .window-content {
            @import '../ui/inputs';

            background: $ui-background-color;
            color: $ui-main-color;

            // Character sheet

            .headergrid {
                padding: 0rem 0.5rem;
            }

            .header-fields {
                grid-template-columns: 3fr 2fr 2fr;
                grid-template-rows: auto 165px 64px;

                .header {
                    background: none;
                    border-radius: 0px;
                    border-bottom: $main-border;
                    grid-template-columns: 100px 1fr;

                    .headergrid {
                        padding: 0rem 0rem 0rem 0.5rem;
                    }

                    .profile {
                        width: 100px;
                        border: $input-border;
                        border-radius: $input-border-radius;
                        padding: 0px;

                        &:hover {
                            border: $accent-border;
                        }
                    }

                    .headerinputtext {
                        @extend label;
                        padding: 0.1rem 0.5rem;
                        margin: 0px;
                        font-size: 0.7rem;
                        background: $terminal-color;
                        color: $input-label-color-inverse;
                    }

                    .headerinputfield {
                        @extend input;
                        padding: 0px;
                        margin: 0px;

                        input,
                        input[type='text'],
                        textarea {
                            border: none !important;
                        }
                    }
                }

                .health {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 2px;
                    align-items: start;
                    justify-items: start;

                    .resource {
                        width: auto;
                        padding: 0px;

                        &.minmaxtopstat {
                            display: grid;
                            grid-template-columns: 1fr 70px;
                            grid-template-rows: 26px;
                            align-items: center;
                            width: 100%;
                        }

                        .resource-label {
                            @extend label;
                            background: $terminal-color;
                            border: $input-border;
                            border-radius: $input-border-radius;
                            padding: 4px 0.5rem;
                            text-align: right;
                            color: $terminal-color-inverse;
                            width: 100%;
                            height: 100%;
                        }

                        .healthmaxtext {
                            display: none;
                        }

                        .minmaxtext {
                            grid-column: 1;
                            margin: 0px;
                        }

                        .minmaxwrapper {
                            grid-column: 2;
                            height: auto;
                        }
                    }

                    .healthmaxtext {
                        margin-top: -3px;
                        color: $faded-color;
                    }

                    .minmaxwrapper {
                        background: none;
                        border-radius: 0px;
                        border: none;
                        grid-template-columns: 1fr 1fr;

                        input,
                        .whiteText {
                            font-family: $number-font;
                            font-weight: $number-weight;
                            font-size: 0.8rem;
                        }

                        .slant {
                            display: none;
                        }
                    }
                }

                .abilities {
                    .mainstatwrapper {
                        display: grid;
                        grid-template-columns: 1fr 34px 10px;
                        align-items: center;
                        width: auto;

                        .mainstat {
                            grid-template-columns: 1fr 40px;
                            position: inherit;
                            width: auto;

                            .mainstatlabel {
                                @extend label;
                                height: auto;
                                position: inherit;
                                background: $terminal-color;
                                border: $input-border;
                                border-radius: $input-border-radius;
                                padding: 4px 0.5rem;
                                text-align: right;

                                .ability-mod {
                                    color: $terminal-color-inverse;
                                }

                                span {
                                    padding: 0px;
                                }

                                .mainstattext {
                                    font-size: 0.8rem;
                                    padding: 0.1rem;
                                }
                            }

                            .circle-input {
                                z-index: inherit;
                                width: auto;
                                height: auto;
                                margin: 0rem;
                                font-size: 1rem;
                            }
                        }

                        .mainstatmod-input {
                            position: static;
                            border: $main-border;
                            border-radius: $main-border-radius;
                            margin: 0px;
                            margin-left: 16px;
                            z-index: inherit;

                            &::before {
                                content: '+';
                            }
                        }

                        .mainstatmod-title {
                            position: static;
                            margin: 0px;
                            margin-left: -30px;
                        }
                    }
                }

                .saves {
                    display: grid;
                    grid-template-rows: 49px 49px 49px;
                    gap: 0.5rem;
                    background: none;
                    padding: 0px;

                    .resource {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        align-items: start;
                        gap: 0px;
                        padding: 0px;

                        .ability-mod {
                            @extend label;
                            margin: 0px;
                        }

                        .inputs-list {
                            display: grid;
                            grid-template-columns: 2fr 12px 1fr;
                            justify-content: stretch;
                            margin: 0px;
                            padding: 0px;

                            input {
                                font-family: $number-font;
                                font-weight: $number-weight;

                                &.square-input {
                                    margin: 0px;
                                    padding: 4px;
                                    height: auto;
                                    font-size: 1rem;
                                    z-index: inherit;
                                }

                                &.mainsavemod-input {
                                    position: inherit;
                                    z-index: inherit;
                                    height: auto;
                                    width: auto;
                                    margin: 0px;
                                }
                            }

                            .mainstatmod-title {
                                position: inherit;
                                margin: 0px;
                                z-index: inherit;
                            }
                        }
                    }
                }

                .trauma-response {
                    display: grid;
                    grid-column-start: 1;
                    grid-column-end: 4;
                    grid-template-rows: 18px 1fr;

                    .resource-label {
                        @extend label;
                        padding: 0.1rem 0.5rem;
                        margin: 0px;
                        font-size: 0.7rem;
                        background: $terminal-color;
                        color: $input-label-color-inverse;
                        text-align: left;
                    }

                    textarea {
                        @extend textarea;
                        margin: 0px;
                        font-size: 0.8rem;
                    }
                }
            }

            @import '../ui/navigation';

            .sheet-body {
                border: $main-border;
                @import '../ui/items-list';

                .tab {
                    .skill_training_frame {
                        background: none;
                        color: $table-header-color;
                        font-family: $table-header-font;
                        border: $main-border;
                        border-radius: $main-border-radius;
                        font-size: 0.8rem;
                    }

                    .editor {
                        .editor-edit {
                            background: $button-background-color;
                            color: $button-text-color;
                            font-family: $button-text-font;
                            border: none;
                            border-radius: $button-border-radius;
                            height: 24px;
                            width: 24px;

                            &:hover {
                                color: $accent-color;
                                box-shadow: none;
                                text-shadow: none;
                            }
                        }

                        .editor-content {
                            padding: 0.5rem;
                            @import '../ui/text';
                        }
                    }

                    // In case there is a Tiny MCE editor somewhere
                    @import '../ui/tinymce';
                }
            }

            // NPC sheet
            .creature-header-grid {
                background: none;

                .whiteline {
                    border: $main-border;
                }
            }

            .creature-description-grid {
                .creaturedescription {
                    .grid {
                        .resource {
                            .minmaxwrapper {
                                background: none;
                                border: none;
                                grid-template-columns: 1fr 1fr;

                                .slant {
                                    display: none;
                                }
                            }

                            .healthmaxtext {
                                color: $faded-color;
                            }
                        }
                    }
                }

                .editor {
                    padding-top: 0.5rem;
                    color: $journal-text-color;

                    .editor-content {
                        @import '../ui/text';
                    }
                }

                .creature-abilities {
                    border: $main-border;
                    border-radius: $main-border-radius;
                    background: $main-background;
                    color: $journal-text-color;
                    outline: none;

                    .whiteline {
                        border: $main-border;
                    }

                    li {
                        list-style-type: none;
                    }

                    .creature-ability-container {
                        position: relative;

                        .creature-ability-title {
                            font-family: $journal-title-font;
                            font-size: 1rem;
                            text-align: left;
                            color: $journal-title-color;

                            &:hover {
                                color: $accent-color;
                                text-shadow: none;
                            }
                        }

                        .creature-ability-text {
                            @import '../ui/text';
                            color: $journal-text-color;
                        }

                        .item-controls {
                            position: absolute;
                            top: 6px;
                            right: 6px;
                        }

                        .item-control {
                            &:hover {
                                color: $accent-color;
                                text-shadow: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &.item {
        .window-content {
            @import '../ui/inputs';
            @import '../ui/navigation';

            background: $ui-background-color;
            color: $ui-main-color;

            .sheet-header {
                background: none;

                .header {
                    background: none;
                }

                .headerinputtext {
                    font-family: $input-label-font;
                    font-size: 0.7rem;
                }

                .headerinputfield {
                    @extend label;
                    padding-left: 0px;
                    border-radius: $main-border-radius;
                    background: none;
                }
            }

            .resource {
                .textvaluewrapper,
                .valuewrapper {
                    background: none !important;
                    border: none;
                }
            }

            .circle-statwrapper-vertical {
                background: $muted-background;
                border: $main-border;
                border-radius: $main-border-radius;
            }

            .circle-statwrapper-horizontal {
                background: none;
                border: none;
            }

            br {
                display: none;
            }

            .sheet-body {
                border: $main-border;

                .tab {
                    @import '../ui/text';
                    padding: 0.5rem;
                }
            }
        }
    }
}

.dialog {
    .window-content {
        .dialog-content {
            .macro_window {
                background: none;
                color: $journal-text-color;

                .macro_desc {
                    padding-top: 0px;
                }
            }

            label {
                .macro_window {
                    background: $muted-background;
                    border: $main-border;
                    border-radius: $main-border-radius;

                    &:has(input[type='radio']:checked) {
                        background: $secondary-background;
                        color: $ui-main-color;
                    }
                }
            }
        }
    }
}
