$background-color: #000;
$transparent-background-color: #000000ce;
$transparent-background-filter: blur(5px);
$main-color: #ddd;
$highlight-color: #fff;
$accent-color: #af1c1c;
$mutted-color: #aaa;
$faded-color: #242731;

// General UI
$ui-font: 'PT Sans', monospace;

$text-main-color: #ddd;
$text-main-font: 'PT Sans', sans-serif;
$text-main-size: 1rem;
$text-line-height: 1.5rem;
$text-secondary-font: 'Roboto', monospace;

$title-top-color: #af1c1c;
$title-top-font: 'Roboto';

$journal-title-font: 'PT Sans', monospace;
$journal-title-color: #aaa;

$title-h1-color: #fff;
$title-h1-font: 'Roboto';
$title-h1-size: 1.6rem;
$title-h1-weight: bold;

$title-h2-color: #fff;
$title-h2-font: 'Roboto';
$title-h2-size: 1.3rem;
$title-h2-weight: bold;

$title-h3-color: #af1c1c;
$title-h3-font: 'PT Sans';
$title-h3-size: 1rem;
$title-h3-weight: bold;

$title-h4-color: #fff;
$title-h4-font: 'PT Sans';
$title-h4-size: 1rem;
$title-h4-weight: normal;

$title-h5-color: #fff;
$title-h5-font: 'PT Sans';
$title-h5-size: 1rem;
$title-h5-weight: bold;

$link-resolve-color: #fff;
$link-unresolve-color: #aaa;
$text-mutted-color: rgb(36, 39, 49);
$text-highlight-color: #fff;

$line-color: #af1c1c;

// Scroll Bar
$scrollbar-color: #ddd;
$scrollbar-border-color: #ddd;

// Tables
$table-row-strip-color: rgb(255, 255, 255, 0.06);
$table-header-font: 'PT Sans';
$table-header-color: #fff;
$table-body-font: 'PT Sans';
$table-body-color: #fff;

// Quotes
$quote-text-color: #fff;
$quote-background-color: #000;
$quote-border-color: #af1c1c;

// Buttons
$button-background-color: #000;
$button-text-color: #aaa;
$button-text-font: 'PT Sans', monospace;
