$background-color: #fff;
$highlight-color: #fff;
$accent-color: #fff;
$mutted-color: #aaa;
$faded-color: #242731;
$terminal-color: #cecece;
$terminal-color-inverse: #242731;

// Colors
$main-color: #000;

// General UI
$ui-font: 'Blinker', monospace;
$ui-header-background-color: #242731;
$ui-background-color: #000;
$ui-main-color: #ddd;
$ui-window-border: 1px solid #242731;
$ui-window-background: #000;
$ui-tab-background: #000000a6;

// Background
$main-background: #000;
$secondary-background: #242731;
$muted-background: #171619;

// Borders
$main-border: 1px solid #242731;
$main-border-radius: 5px;
$accent-border: 1px solid $accent-color;
$active-border: 1px solid $highlight-color;
$disabled-border: 1px dashed $terminal-color;

$text-main-font: 'Blinker', sans-serif;
$text-main-size: 1rem;
$text-line-height: 1.2rem;
$text-secondary-font: 'IBM Plex Mono', monospace;

// Journal
$journal-background: #000;
$journal-text-color: #aaa;

$title-top-color: #af1c1c;
$title-top-font: 'Orbitron', monospace;

$journal-sidebar-background: #000000d1;
$journal-header-background: #000;
$journal-title-font: 'Orbitron', monospace;
$journal-title-color: #fff;

$title-h1-color: #fff;
$title-h1-font: 'Orbitron';
$title-h1-size: 1.6rem;
$title-h1-weight: bold;

$title-h2-color: #fff;
$title-h2-font: 'IBM Plex Mono';
$title-h2-size: 1.3rem;
$title-h2-weight: bold;

$title-h3-color: #af1c1c;
$title-h3-font: 'IBM Plex Mono';
$title-h3-size: 1.1rem;
$title-h3-weight: bold;

$title-h4-color: #fff;
$title-h4-font: 'IBM Plex Mono';
$title-h4-size: 1rem;
$title-h4-weight: normal;

$title-h5-color: #fff;
$title-h5-font: 'Blinker';
$title-h5-size: 0.9rem;
$title-h5-weight: bold;

$link-resolve-color: #fff;
$link-unresolve-color: #aaa;
$text-mutted-color: rgb(36, 39, 49);
$text-highlight-color: #fff;

$line-color: #af1c1c;

// Inputs
$input-label-font: 'Kosugi', sans-serif;
$input-label-color: $terminal-color;
$input-label-color-inverse: $terminal-color-inverse;
$input-background-color: #242731;
$input-text-font: 'IBM Plex Mono', sans-serif;
$input-text-color: $terminal-color;
$input-border: 1px solid $terminal-color;
$input-border-radius: 0px;

// Scroll Bar
$scrollbar-color: #ddd;
$scrollbar-border-color: #ddd;

// Tables
$table-border: 1px solid #242731;
$table-header-background: #242731;
$table-row-strip-color: #171619;
$table-header-font: 'IBM Plex Mono';
$table-header-color: #aaa;
$table-body-font: 'IMB Plex Mono';
$table-body-color: #fff;

// Quotes
$quote-text-color: #fff;
$quote-background-color: #000;
$quote-border-color: #af1c1c;

// Buttons
$button-background-color: $main-color;
$button-text-color: #fff;
$button-text-font: 'Kosugi', monospace;
$button-border: 1px solid $main-color;
$button-border-radius: 0px;

// Numbers
$number-font: 'Kosugi', serif;
$number-weight: bold;

// Chat
$chat-msg-background: #171619;
$chat-msg-color: #fff;
$chat-msg-border: 1px solid #242731;
$chat-msg-header-background: #242731;
$chat-msg-header-color: #aaa;
