$background-color: #fff;
$highlight-color: #fff;
$accent-color: #af1c1c;
$mutted-color: #aaa;
$faded-color: #242731;

// General UI
$ui-font: 'PT Sans', monospace;
$ui-header-background-color: #242731;
$ui-background-color: #000;
$ui-main-color: #ddd;
$ui-window-border: 1px solid #242731;
$ui-window-background: #000;
$ui-tab-background: #000000a6;

// Background
$main-background: #000;
$secondary-background: #242731;
$muted-background: #171619;

// Borders
$main-border: 1px solid #242731;
$main-border-radius: 5px;
$accent-border: 1px solid #af1c1c;
$active-border: 1px solid #aaa;

$text-main-font: 'Nunito', sans-serif;
$text-main-size: 0.9rem;
$text-line-height: 1.2rem;
$text-secondary-font: 'Nunito', sans-serif;

// Journal
$journal-background: #171619;
$journal-text-color: #aaa;

$title-top-color: #af1c1c;
$title-top-font: 'Bebas Neue', sans-serif;

$journal-sidebar-background: #000000d1;
$journal-header-background: #000;
$journal-title-font: 'Bebas Neue', monospace;
$journal-title-color: #fff;

$title-h1-color: #fff;
$title-h1-font: 'Bebas Neue';
$title-h1-size: 1.6rem;
$title-h1-weight: bold;

$title-h2-color: #fff;
$title-h2-font: 'PT Sans Caption';
$title-h2-size: 1.3rem;
$title-h2-weight: bold;

$title-h3-color: #af1c1c;
$title-h3-font: 'Nunito';
$title-h3-size: 1.1rem;
$title-h3-weight: bold;

$title-h4-color: #fff;
$title-h4-font: 'Nunito';
$title-h4-size: 1rem;
$title-h4-weight: normal;

$title-h5-color: #fff;
$title-h5-font: 'Nunito';
$title-h5-size: 0.9rem;
$title-h5-weight: bold;

$link-resolve-color: #fff;
$link-unresolve-color: #aaa;
$text-mutted-color: rgb(36, 39, 49);
$text-highlight-color: #fff;

$line-color: #af1c1c;

// Inputs
$input-label-font: 'PT Sans Caption', sans-serif;
$input-label-color: #fff;
$input-background-color: #242731;
$input-text-font: 'Nunito', sans-serif;
$input-text-color: #aaa;

// Scroll Bar
$scrollbar-color: #ddd;
$scrollbar-border-color: #ddd;

// Tables
$table-border: 1px solid #242731;
$table-header-background: #242731;
$table-row-strip-color: #171619;
$table-header-font: 'PT Sans Caption';
$table-header-color: #aaa;
$table-body-font: 'Nunito';
$table-body-color: #fff;

// Quotes
$quote-text-color: #fff;
$quote-background-color: #000;
$quote-border-color: #af1c1c;

// Buttons
$button-background-color: #000;
$button-text-color: #aaa;
$button-text-font: 'PT Sans', monospace;
$button-border: 1px solid #242731;
$button-border-radius: 3px;

// Numbers
$number-font: 'PT Sans Caption', serif;
$number-weight: bold;

// Chat
$chat-msg-background: #171619;
$chat-msg-color: #fff;
$chat-msg-border: 1px solid #242731;
$chat-msg-header-background: #242731;
$chat-msg-header-color: #aaa;
