@import '../variables';

.sidebar {
    // Journal Improvemens specific
    .journal-header {
        input[type='text'] {
            //background: $background-color;
            font-family: $journal-title-font;
            font-size: 1.2rem;
            // text-transform: uppercase;
            // color: $accent-color;
            // border: 1px solid $faded-color;

            &:focus {
                border: 1px solid $accent-color;
                box-shadow: none;
            }
        }
    }

    // ---

    nav.pages-list {
        .directory-list {
            .directory-item {
                border: none;

                .page-heading {
                    &:hover {
                        text-shadow: none;
                        color: $accent-color;
                    }
                }

                .headings {
                    .heading {
                        &:hover {
                            text-shadow: none;
                            color: $accent-color;
                        }
                    }
                }

                &.active {
                    border: none;
                    border-top: 1px solid $accent-color;
                    border-bottom: 1px solid $accent-color;
                }
            }
        }
    }
}

&.journal-entry {
    .journal-header {
        .title {
            color: $title-top-color;
            font-family: $title-top-font;
            font-style: normal;
            text-transform: uppercase;
            font-weight: 900;
            border: none;
        }
    }

    .journal-entry-content {
        background: $journal-background;

        .journal-page-header {
            border: none;
            font-family: $journal-title-font;
            text-align: center;
            background: $journal-header-background;
            color: $journal-title-color;

            input[type='text'] {
                font-family: $journal-title-font;
                color: $journal-title-color;
            }

            h1 {
                font-family: $journal-title-font;
                color: $journal-title-color;
                font-style: normal;
                font-weight: bold;
                border: none;
                margin-top: 0.5rem;
            }
        }

        .journal-page-content {
            background: none;
            color: $journal-text-color;
            @import '../ui/text';
        }
    }
}
